body {
  background-color: rgb(221, 226, 221); /* Sets the overall background color */
}

.App {
  text-align: center;
}

/* Styles for the header */
.App-header {
  background-color: rgba(129, 165, 129, 0.375); /* Sets the header's background color */
  font-family: serif;
  font-weight: 700;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(20px + 10vmin);
  color: rgb(62, 62, 62);}

.App-body{
  font-family: serif;
  font-weight: 700;
  font-size: calc(10px + 5vmin);
}

.myButton{
  width: 250px;
  height: 100px;
  background-color: rgb(197, 171, 232);  
  color: black;
  border-radius: 10px; 
  font-size: 16px;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 20px;

}
.myButton:hover {
  background-color: rgb(174, 133, 228);
}
