body {
  background-color: rgb(221, 226, 221); /* Sets the overall background color */
}

.App {
  text-align: center;
}

/* Styles for the header */
.App-header {
  background-color: rgba(129, 165, 129, 0.375); /* Sets the header's background color */
  font-family: serif;
  font-weight: 700;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 5vmin);
  color: rgb(62, 62, 62);
}

.App-body{
  font-family: serif;
  font-weight: 700;
  font-size: calc(5px + 3vmin);
}
